@using MaliLb.Models;
@model Book

@{
    ViewData["Title"] = "Подробнее";
}

<h1 class="mt-4 text-center text-primary">@Model.Work.Name</h1>
<div class="row mt-4">
    <div class="col-4">
        <img src="@Model.Img" class="rounded" width="350" height="600" style="object-fit:cover" />
    </div>
    <div class="col-8">
        <div class="p-1">
            <p>Издание: @Model.Edition</p>
            <p>Год написания: @Model.Work.DateOfWriting.ToString("yyyyг.")</p>
            <p>Год издания: @Model.YearOfPublishing.ToString("yyyyг.")</p>
            <div class="row">
                @if (Model.Work.Description != null)
                {
                    <div class="col-8">Описание произведения: @Model.Work.Description</div>
                }
                @if (Model.Description != null)
                {
                    <div class="col-8">Описание книги: @Model.Description</div>
                }
            </div>
            @if (Model.VisitorID != null)
            {
                <h4 class="text-info">На руках у @Model.Visitor</h4>
            }
        </div>
        <div class="btn-group w-50 mt-4" role="group">
            <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning"><i class="bi bi-pen"></i></a>
            <a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
        </div>
    </div>
</div>